
*/.DS_Store
DIP-PROJECT/AllFive.zip
DIP-PROJECT/AllFive/*.jpg
DIP-PROJECT/AllFive/*.png
DIP-PROJECT/Train/*.jpg
DMT-PROJECT/data_set/
DIP-PROJECT/NewMethod/*~
DIP-PROJECT/AllFive/FileName_List_ForClusterCenter.txt
DIP-PROJECT/AllFive/FileName_List.txt
